<div class="container">
  <h2>Usuários</h2>

  <p>Total: {{ usuarios.length }}</p>

  <hr />

  <section class="card">
    <div class="d-flex justify-between align-center mb-2">
      <h2>Usuários</h2>

      <button class="btn btn-primary" (click)="mostrarFormulario = true"> Novo Usuário</button>
      <button class="btn btn-primary" (click)="voltar()">Voltar</button>
    </div>

    <table class="table">
      <thead>
        <tr>
          <th>Login</th>

          <th>Funcionário</th>

          <th>Perfil</th>

          <th>Ativo</th>

          <th>Ações</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let u of usuarios">
          <td>{{ u.login }}</td>

          <td>{{ u.funcionario }}</td>

          <td>{{ u.perfil }}</td>

          <td> {{ u.ativo ? 'Sim' : 'Não' }} </td>

          <td>
            <button class="btn btn-secondary" (click)="editar(u)">Editar</button>
            <button class="btn btn-danger" (click)="excluir(u.id)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="alert alert-info" *ngIf="usuarios.length == 0">Nenhum usuário cadastrado.</div>
  </section>

  <section class="card mt-3" *ngIf="mostrarFormulario">
    <h2> {{ modoEdicao ? 'Editar Usuário' : 'Novo Usuário' }} </h2>

    <div class="form-row">...</div>

    <div class="form-actions">
      <button class="btn btn-primary">Salvar</button>
      <button class="btn btn-secondary">Cancelar</button>
    </div>
  </section>
</div>
