<button (click)="abrirFormularioAnimal()">
  Criar Animal
</button>

<hr>

<div *ngIf="mostrarFormulario" class="cadastro-animal">

  <h2>Novo Animal</h2>

  <label>Nome</label>

  <input
      type="text"
      [(ngModel)]="novoAnimal.nome">

  <label>Espécie</label>

  <input
      type="text"
      [(ngModel)]="novoAnimal.especie">

  <label>Raça</label>

  <input
      type="text"
      [(ngModel)]="novoAnimal.raca">

  <label>Idade</label>

  <input
      type="number"
      [(ngModel)]="novoAnimal.idade">

  <br><br>

  <button (click)="salvarAnimal()">
      Salvar Animal
  </button>

  <button
      (click)="mostrarFormulario=false">

      Cancelar

  </button>


<hr>

<!-- AÇÃO GLOBAL -->

<div class="acoes-finais">

  <button (click)="abrirServicos()">
    Serviços
  </button>

</div>
</div>