<div class="animais">

  <h1>
    Animais de {{ cliente?.nome }}
  </h1>

  <button (click)="abrirFormularioAnimal()">
    Criar Animal
  </button>

  <hr>

  <!-- FORMULÁRIO -->

  <div *ngIf="mostrarFormulario">

    <input
      type="text"
      [(ngModel)]="novoAnimal.nome"
      placeholder="Nome"
    >

    <input
      type="text"
      [(ngModel)]="novoAnimal.especie"
      placeholder="Espécie"
    >

    <input
      type="text"
      [(ngModel)]="novoAnimal.raca"
      placeholder="Raça"
    >

    <input
      type="number"
      [(ngModel)]="novoAnimal.idade"
      placeholder="Idade"
    >

    <button (click)="salvarAnimal()">
      Salvar
    </button>

  </div>

  <hr>

  <!-- LISTA -->

  <div
    class="animal-card"
    *ngFor="let animal of animais"
  >

    <strong>
      {{ animal.nome }}
    </strong>

    - {{ animal.especie }}

    <br><br>

    <button (click)="abrirServicos(animal)">
      Serviços
    </button>

    <button (click)="removerAnimal(animal.id)">
      Remover Animal
    </button>

    <hr>

  </div>

</div>