<div class="servicos">

  <h1>Serviços</h1>

  <button (click)="abrirFormulario()">
    Novo Serviço
  </button>

  <hr>

  <div *ngIf="mostrarFormulario">

    <input
      type="text"
      [(ngModel)]="novoServico.nome"
      placeholder="Nome do serviço"
    >

    <input
      type="number"
      [(ngModel)]="novoServico.preco"
      placeholder="Preço"
    >

    <button (click)="salvarServico()">
      Salvar
    </button>

  </div>

  <hr>

  <div
    class="servico-card"
    *ngFor="let servico of servicos"
  >

    <div class="topo-servico">

      <div>
        <strong>{{ servico.nome }}</strong>
        - R$ {{ servico.preco }}
      </div>

      <button
        class="btn-remover"
        (click)="removerServicos(servico.id)"
      >
        X
      </button>

    </div>

  </div>

</div>
