<div class="container">

  <h2>Serviços</h2>

  <p>Total: {{ servicos.length }}</p>

  <hr>

  <div *ngFor="let s of servicos">
    <strong>{{ s.nome }}</strong> - R$ {{ s.preco }}

    <button (click)="deletarServicos(s.id)">Excluir</button>
  </div>

  <hr>

  <h3>Novo Serviço</h3>

  <input [(ngModel)]="novoServico.nome" placeholder="Nome">
  <input type="number" [(ngModel)]="novoServico.preco" placeholder="Preço">

  <button (click)="atualizarServicos()">
    Salvar
  </button>

  <select [(ngModel)]="novoServico.cargo_executor">

    <option value="">
        Selecione...
    </option>

    <option *ngFor="let cargo of cargos"
            [value]="cargo">

        {{ cargo }}

    </option>

</select>

</div>