<app-layouts>
  <div class="page">

  <section class="page-header">
    <h1> Clientes </h1>
    <p>  Cadastro e consulta de clientes.  </p>
  </section>

  <div class="form-group">
  <label class="form-label">   Nome  </label>
  <input class="form-control" [(ngModel)]="cliente.nome" required> 
  </div>

  <div class="form-group">
  <label class="form-label">   CPF  </label>
  <input class="form-control" [(ngModel)]="cliente.cpf" required>
  </div>

  <div class="form-group">
  <label class="form-label">  Telefone  </label>
  <input class="form-control" [(ngModel)]="cliente.telefone" required>
  </div>

  <div class="form-group">
  <label class="form-label">   Email  </label>
  <input class="form-control" [(ngModel)]="cliente.email" required>
  </div>
 

  <div class="form-actions">
  <button class="btn btn-primary" (click)="salvar()"> Salvar </button>  
  <button class="btn btn-secondary" (click)="cancelar()"> Cancelar  </button>
  </div>

  <table class="table"></table>

</div>
</app-layouts>